In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
url = "https://en.wikipedia.org/wiki/World_population"

response = requests.get(url)

In [10]:
soup=BeautifulSoup(response.content,"html.parser")

In [15]:
soup.title

In [19]:
# print the html code
# print(soup.prettify())

In [44]:
# find all the tables

tables = soup.find_all("table")

dataframe = [] # empty list

for i, table in enumerate(tables):
    rows = table.find_all("tr")[1:] # skip the first row
    data = [] # empty list
    for row in rows:
        cols = row.find_all("td")
        cols = [col.text.strip() for col in cols]
        data.append(cols)
    df = pd.DataFrame(data)
    dataframe.append(df)
dataframe[1].head()

,0,1,2,3
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame